body{
    margin: 0;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card_div{
    width: 684px;
    height: 456px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.card{
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    margin: 6px;
    border: 1px rgba(0, 0, 0, 0.5) solid;
    cursor: pointer;
}
.card_front{
    width: 100px;
    height: 100px;
    color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./front.png");
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    color: #000;
}
.card_back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
}
.end_game_flex{
    display: flex;
    justify-content: center;
}
.end_game{
    position: absolute;
    top: -50%;
    width: 35vw;
    height: 45vh;
    background-image: linear-gradient(#333,#999);
    z-index: 1;
    transition: all 0.8s ease;
}
.end_game_text{
    font-family: cursive;
    font-size: 25px;
    text-align: center;
}
.button_flex{
    display: flex;
    justify-content: center;
}
.game_reload{
    width: 150px;
    height: 90px;
    background-color: #333;
    border-radius: 12px;
    border: 0px black solid;
    cursor: pointer;
}