body{
    margin: 0;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card_div{
    width: 684px;
    height: 456px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.card{
    width: 100px;
    height: 100px;
    color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./Frame\ 2\ \(14\).png");
    /* border: 6px white solid; */
    margin: 6px;
    border: 1px rgba(0, 0, 0, 0.5) solid;
    cursor: pointer;
}